# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Luqi\数据结构算法java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
